#hono-gallery-items {
  float: left;
  padding-top: 25px;
  width: 75%;
  background: lightcoral;
  min-height: 500px;
}

#hono-gallery-detail {
  float: left;
   padding-top: 25px;
  background: lightgray;
  width: 25%;
  min-height: 500px;
}

/* Clear floats after the columns */
.hono-gallery::after {
  content: "";
  display: table;
  clear: both;
}
mat-grid-tile {
  background: lightblue;
  cursor: pointer;
}

mat-grid-tile img{
  border:1px solid green;

}
mat-grid-tile.selected {
  border: 3px solid darkblue;
}
