.hono-gallery-items {
  float: left;
  padding-top: 25px;
  width: 75%;
  background: lightcoral;
  min-height: 500px;
}

.hono-gallery-detail {
  float: left;
  background: lightgray;
  width: 25%;
}

/* Clear floats after the columns */
.hono-gallery::after {
  content: "";
  display: table;
  clear: both;
}
mat-grid-tile {
  background: lightblue;
}
